.button {
  padding: 0.375em 1em;
  cursor: pointer;
  color: var(--primary-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.clear,
.clearInverted {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
}

.clearInverted {
  color: var(--inverted-primary-color);
}

.outline {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}

.background {
  background: var(--bg-color);
  color: var(--primary-color);
  border: none;
}

.backgroundInverted {
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  border: none;
}

.squared {
  width: 1.5em;
  height: 1.5em;
  padding: 0.25em;
  line-height: 1;
}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}

.size_xl {
  font: var(--font-xl);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
