.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.2s linear;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.collapsedBtn {
  position: absolute;
  right: -35px;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items {
  display: flex;
  flex-direction: column;
  padding: 0 1.8em;
}

.icon {
  fill: var(--inverted-primary-color);
}

.link {
  margin-top: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;

  span {
    margin-left: 0.5em;
    white-space: nowrap;
    opacity: 1;
    transition: opacity 0.2s linear;
  }
}

.lang {
  margin: 0.625em;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }

  .link {
    span {
      display: none;
      width: 0;
      height: 0;
      opacity: 0;
      transition: opacity 0.2s linear;
    }
  }
}
