.app.dark {
  --bg-color: #112240;
  --inverted-bg-color: #00FFBB;

  --primary-color: #00FFBB;
  --secondary-color: #64FFDA;
  --inverted-primary-color: #112240;
  --inverted-secondary-color: #0A192F;
}