.app.light {
  --bg-color: #0fb;
  --inverted-bg-color: #112240;
  --primary-color: #112240;
  --secondary-color: #0a192f;
  --inverted-primary-color: #0fb;
  --inverted-secondary-color: #64ffda;
  --switdh-trf: 0;
}
