.app.light {
  --bg-color: #00FFBB;
  --inverted-bg-color: #112240;

  --primary-color: #112240;
  --secondary-color: #0A192F;
  --inverted-primary-color: #00FFBB;
  --inverted-secondary-color: #64FFDA;

  --switdh-trf: 0;
}