.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  padding: 10px;
  display: flex;

  .links {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-left: auto;
  }
}
